In [1]:
import sys
print(sys.executable)

C:\Users\cmaurya\AppData\Local\Programs\Python\Python313\python.exe

In [2]:
import pandas as pd

In [3]:
pd.__version__

'2.3.1'

In [4]:
import sklearn

In [5]:
sklearn.__version__

'1.7.0'

In [9]:
df = pd.read_parquet('https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2025-01.parquet')

In [7]:
!pip install pyarrow

Collecting pyarrow
  Downloading pyarrow-20.0.0-cp313-cp313-win_amd64.whl.metadata (3.4 kB)
Downloading pyarrow-20.0.0-cp313-cp313-win_amd64.whl (25.7 MB)
   ---------------------------------------- 0.0/25.7 MB ? eta -:--:--
   ---------------------------------------- 0.3/25.7 MB ? eta -:--:--
   --- ------------------------------------ 2.4/25.7 MB 9.9 MB/s eta 0:00:03
   -------- ------------------------------- 5.5/25.7 MB 12.2 MB/s eta 0:00:02
   ------------- -------------------------- 8.4/25.7 MB 12.9 MB/s eta 0:00:02
   ------------------ --------------------- 11.8/25.7 MB 13.4 MB/s eta 0:00:02
   ---------------------- ----------------- 14.7/25.7 MB 13.7 MB/s eta 0:00:01
   -------------------------- ------------- 17.3/25.7 MB 13.4 MB/s eta 0:00:01
   ------------------------------- -------- 20.4/25.7 MB 13.6 MB/s eta 0:00:01
   ------------------------------------- -- 23.9/25.7 MB 13.9 MB/s eta 0:00:01
   ---------------------------------------  25.4/25.7 MB 14.0 MB/s eta 0:00:01
   ---------------------------------------- 25.7/25.7 MB 12.9 MB/s eta 0:00:00
Installing collected packages: pyarrow
Successfully installed pyarrow-20.0.0

In [10]:
df.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,...,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge,cbd_congestion_fee
0,2,2025-01-01 00:03:01,2025-01-01 00:17:12,N,1.0,75,235,1.0,5.93,24.70,...,0.5,6.80,0.00,NaN,1.0,34.00,1.0,1.0,0.00,0.0
1,2,2025-01-01 00:19:59,2025-01-01 00:25:52,N,1.0,166,75,1.0,1.32,8.60,...,0.5,0.00,0.00,NaN,1.0,11.10,2.0,1.0,0.00,0.0
2,2,2025-01-01 00:05:29,2025-01-01 00:07:21,N,5.0,171,73,1.0,0.41,25.55,...,0.0,0.00,0.00,NaN,1.0,26.55,2.0,2.0,0.00,0.0
3,2,2025-01-01 00:52:24,2025-01-01 01:07:52,N,1.0,74,223,1.0,4.12,21.20,...,0.5,6.13,6.94,NaN,1.0,36.77,1.0,1.0,0.00,0.0
4,2,2025-01-01 00:25:05,2025-01-01 01:01:10,N,1.0,66,158,1.0,4.71,33.80,...,0.5,7.81,0.00,NaN,1.0,46.86,1.0,1.0,2.75,0.0